body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

/* Header */

header {
  color: white;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 225px;
  margin: 0;
  padding: 0;
  padding-left: 1rem;
}

.logo {
  flex: 1;
  justify-content: center;
}

nav {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding: 0;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 8rem;
  justify-content: center;
  list-style: none;
  align-items: flex-start;
  padding: 0;
}

header nav ul li a {
  text-decoration: none;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  padding: 8px 0;
  color: #d86982;
  position: relative;
  transition: 0.4s;
}

header nav ul li a:hover {
  letter-spacing: 2px;
}

header nav ul li a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: #d86982;
  transition: all 0.4s;
}

header nav ul li a:hover::before {
  width: 100%;
  left: 0;
}

.social-icons img {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
}

header .social-icons img {
  width: 28px;
  margin: 0px 20px;
  transition: all 0.3s ease;
  transform: scale(1);
}

.social-icons img:hover {
  transform: scale(1.25) perspective(1px);
}

.social-icons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-self: center;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-right: 2rem;
}

/* About - Formation - Book */

.about-me,
.formation,
.book {
  font-family: "Lato", sans-serif;
  color: #333;
  margin: auto;
  width: 100%;
  padding: 4rem 0rem;
  background-color: #f5e0e9;
  display: flex;
  justify-content: center;
  text-align: center;
}

.formation {
  background-color: #ffffff;
}

.about-content,
.formation-content,
.book-content {
  display: flex;
  gap: 5rem;
  align-items: flex-start;
}

.about-photo,
.form-photo,
.book-photo {
  width: 300px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  margin: auto;
}

.form-photo,
.book-photo {
  width: 380px;
}

.about-text {
  max-width: 550px;
}

.about-text h1 {
  font-size: 2rem;
  color: #4a4a4a;
  font-family: "Raleway", sans-serif;
  margin-bottom: 1rem;
}

.about-text p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333;
}

/* Youtube */

.about-youtube {
  background-color: #ffffff;
  color: #4a4a4a;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0 2rem;
}

.about-youtube h2 {
  font-size: 2rem;
  color: #4a4a4a;
  font-family: "Raleway", sans-serif;
  margin-bottom: 2rem;
}

/* Footer */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d86982;
  color: white;
  font-size: 1.3rem;
  height: 8vh;
}


/* Responsive */

/* Mobile */

@media (max-width: 600px) {

  /* Header */

  #logo {
    width: 90px;
    padding-left: 0.7rem;
  }

  header nav ul {
    gap: 1rem;
    padding: 0;
    margin: 0;
  }

  header nav ul li a {
    font-size: 12px;
    padding: 0;
  }

  header nav ul li a:hover {
    letter-spacing: 0px;
  }

  header nav ul li a::before {
    width: 0;
    height: 0;
    background-color: none;
  }

  header .social-icons img {
    width: 13px;
    margin: 0px 7px;
  }

  .social-icons {
    padding-right: 0rem;
  }

  /* About - Formation - Book */

  .about-me,
  .formation,
  .book {
    margin: auto;
    width: 100%;
    padding: 1rem 0rem;
    display: flex;
    justify-content: center;
  }

  .about-content,
  .formation-content,
  .book-content {
    display: flex;
    gap: 3rem;
    align-items: flex-start;
  }

  .about-photo,
  .form-photo,
  .book-photo {
    width: 150px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
  }

  .form-photo,
  .book-photo {
    width: 150px;
  }

  .about-text {
    max-width: 225px;
  }

  .about-text h1 {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }

  .about-text p {
    font-size: 0.7rem;
    line-height: 1.4;
  }

  /* Youtube */

  .about-youtube {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0 2rem;
  }

  .about-youtube h2 {
    font-size: 1.1rem;
    margin-bottom: 2rem;
  }

  #youtube-video {
    width: 300px; 
    height: 170px; 
  }

  /* Footer */

  footer {
    font-size: 0.8rem;
  }
}

@media (min-width: 601px) and (max-width: 799px) {

  /* Header */

  #logo {
    width: 110px;
  }

  header nav ul {
    gap: 1.7rem;
    margin: 0rem;
    padding: 0;
  }

  header nav ul li a {
    font-size: 11px;
    padding: 0 0 5px 0;
  }

  header .social-icons img {
    width: 14px;
    margin: 0px 10px;
  }

  .social-icons {
    padding-right: 1.3rem;
  }

  /* About - Formation - Book */

  .about-me,
  .formation,
  .book {
    padding: 1.5rem 0rem;
  }

  .about-content,
  .formation-content,
  .book-content {
    gap: 2.5rem;
  }

  .about-photo,
  .form-photo,
  .book-photo {
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .form-photo,
  .book-photo {
    width: 200px;
  }

  .about-text {
    max-width: 300px;
  }

  .about-text h1 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }

  .about-text p {
    font-size: 0.8rem;
    line-height: 1.4;
  }

  /* Youtube */

  .about-youtube {
    padding: 1rem 0 2rem;
  }

  .about-youtube h2 {
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }

  #youtube-video {
    width: 450px; 
    height: 300px; 
  }

  /* Footer */

  footer {
    font-size: 1rem;
  }
}

/* Tablet - Laptop */

@media (min-width: 800px) and (max-width: 1024px) {
  /* Header */

  #logo {
    width: 140px;
  }

  header nav ul {
    gap: 2.5rem;
    padding: 0;
    margin: 0.5rem;
  }

  header nav ul li a {
    font-size: 15px;
    padding: 0 0 6px 0;
  }

  header .social-icons img {
    width: 20px;
    margin: 0 15px;
  }

  .social-icons {
    padding-right: 1.25rem;
  }

  /* About - Formation - Book */

  .about-me,
  .formation,
  .book {
    padding: 1.5rem 0rem;
  }

  .about-content,
  .formation-content,
  .book-content {
    gap: 2.5rem;
  }

  .about-photo,
  .form-photo,
  .book-photo {
    width: 225px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .form-photo,
  .book-photo {
    width: 225px;
  }

  .about-text {
    max-width: 350px;
  }

  .about-text h1 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  .about-text p {
    font-size: 0.95rem;
    line-height: 1.4;
  }

  /* Youtube */

  .about-youtube {
    padding: 1rem 0 2rem;
  }

  .about-youtube h2 {
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }

  /* Footer */

  footer {
    font-size: 1rem;
  }
}

/* Bigger laptop */

@media (min-width: 1025px) and (max-width: 1199px) {
  
  /* Header */

  #logo {
    width: 160px;
  }

  header nav ul {
    gap: 5rem;
    padding: 0;
    margin: 0.5rem;
  }

  header nav ul li a {
    font-size: 18px;
    padding: 0 0 6px 0;
  }

  header .social-icons img {
    width: 22px;
    margin: 0px 15px;
  }

  .social-icons {
    padding-right: 1rem;
  }

  /* About - Formation - Book */

  .about-me,
  .formation,
  .book {
    padding: 1.5rem 0rem;
  }

  .about-content,
  .formation-content,
  .book-content {
    gap: 2.5rem;
  }

  .about-photo,
  .form-photo,
  .book-photo {
    width: 240px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .form-photo,
  .book-photo {
    width: 240px;
  }

  .about-text {
    max-width: 375px;
  }

  .about-text h1 {
    font-size: 1.7rem;
    margin-bottom: 1rem;
  }

  .about-text p {
    font-size: 1rem;
    line-height: 1.4;
  }

  /* Youtube */

  .about-youtube {
    padding: 1rem 0 2rem;
  }

  .about-youtube h2 {
    font-size: 1.7rem;
    margin-bottom: 2rem;
  }

  /* Footer */

  footer {
    font-size: 1.2rem;
  }
}

/* Desktop */

@media (min-width: 1200px) and (max-width: 1350px) {

  /* Header */

  #logo {
    width: 170px;
  }

  header nav ul {
    gap: 5rem;
    padding: 0;
    margin: 0.5rem;
  }

  header nav ul li a {
    font-size: 19px;
    padding: 6px;
  }

  header .social-icons img {
    width: 24px;
  }

  /* About - Formation - Book */

  .about-me,
  .formation,
  .book {
    padding: 1.5rem 0rem;
  }

  .about-content,
  .formation-content,
  .book-content {
    gap: 2.5rem;
  }

  .about-photo,
  .form-photo,
  .book-photo {
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .form-photo,
  .book-photo {
    width: 250px;
  }

  .about-text {
    max-width: 400px;
  }

  .about-text h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  .about-text p {
    font-size: 1rem;
    line-height: 1.4;
  }

  /* Youtube */

  .about-youtube {
    padding: 1rem 0 2rem;
  }

  .about-youtube h2 {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

    /* Footer */

    footer {
      font-size: 1.2rem;
    }

}