/* General Styles */

body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  color: #4a4a4a;
  font-family: "Lato", sans-serif;
}

/* Header */

header {
  color: white;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 225px;
  margin: 0;
  padding: 0;
  padding-left: 1rem;
}

.logo {
  flex: 1;
  justify-content: center;
}

nav {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding: 0;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 8rem;
  justify-content: center;
  list-style: none;
  align-items: flex-start;
}

header nav ul li a {
  text-decoration: none;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  padding: 8px 0;
  color: #d86982;
  position: relative;
  transition: 0.4s;
}

header nav ul li a:hover {
  letter-spacing: 2px;
}

header nav ul li a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: #d86982;
  transition: all 0.4s;
}

header nav ul li a:hover::before {
  width: 100%;
  left: 0;
}

.social-icons img {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
}

header .social-icons img {
  width: 28px;
  margin: 0px 20px;
  transition: all 0.3s ease;
  transform: scale(1);
}

.social-icons img:hover {
  transform: scale(1.25) perspective(1px);
}

.social-icons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-self: center;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-right: 2rem;
}

/* Intro */

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f7f7f7;
  padding: 4rem 0;
}

.intro h1 {
  font-size: 2.75rem;
  color: #d86982;
  margin-bottom: 0.5rem;
  font-family: "Montserrat", serif;
  padding: 0;
  margin: 0;
}

.intro h2 {
  font-size: 1.7rem;
  color: #4a4a4a;
  font-weight: 300;
  max-width: 600px;
  margin: 1rem auto;
  font-family: "Montserrat", serif;
}

.columna-horiz {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.columna-vert {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
}

/* Cards */

.olcards,
.olcards * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.olcards {
  list-style: none;
  counter-reset: cardCount;
  display: flex;
  flex-direction: column;
  --cardsGap: 1rem;
  gap: var(--cardsGap);
  padding-bottom: var(--cardsGap);
  align-items: center;
  margin-bottom: 2rem;
}

.olcards li {
  counter-increment: cardCount;
  display: flex;
  color: #4a4a4a;
  --labelOffset: 1rem;
  --arrowClipSize: 0rem;
  margin-top: var(--labelOffset);
}

.olcards li::before {
  content: counter(cardCount, decimal-leading-zero);
  background: white;
  color: #d86982;
  font-size: 2.2rem;
  font-weight: 700;
  transform: translateY(calc(-1 * var(--labelOffset)));
  margin-right: calc(-1 * var(--labelOffset));
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 0.5em;
}

.olcards li .card-content {
  background-color: #f5e0e9;
  --inlinePadding: 1.5em;
  --boxPadding: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--boxPadding) calc(var(--inlinePadding) + var(--arrowClipSize))
    var(--boxPadding) calc(var(--inlinePadding) + var(--labelOffset));
  gap: 0.25em 1em;
  position: relative;
  width: 550px;
  font-size: 1.35rem;
  justify-content: flex-start;
}

.olcards li .card-content::before {
  content: "";
  position: absolute;
  width: var(--labelOffset);
  height: var(--labelOffset);
  background: var(--cardColor);
  left: 0;
  bottom: 0;
  clip-path: polygon(0 0, 100% 0, 0 100%);
  filter: brightness(0.75);
}

.olcards li .card-content::after {
  content: "";
  position: absolute;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.25), transparent 50%);
  left: 0;
  top: 100%;
}

.olcards li .card-content .title {
  flex-grow: 1;
  text-align: center;
}

#nuria-libro {
  width: 27.5%;
}

h3 {
  font-size: 2rem;
  color: #d86982;
}

.cta {
  background-color: #d86982;
  color: white;
  border: none;
  padding: 15px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
  font-family: "Lato", sans-serif;
}

.cta:hover {
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.3);
  background-color: #b84e6b;
}

/* Services */

.services-categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 5rem;
  padding: 5rem;
}

/* Services cards */

.service-card {
  overflow: hidden;
  position: relative;
  background: #f5e0e9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 1.25rem;
  transition: all 0.5s ease;
}

.service-summary {
  font-weight: 600;
  font-size: 1.3rem;
  margin: 0.2rem;
}

.service-details {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  padding: 1.5rem;
  font-size: 1.2rem;
}

.service-card img {
  width: 80%;
}

.service-card.expanded .service-details {
  max-height: 150px;
  opacity: 1;
}

.toggle-details {
  margin-top: 1rem;
  padding: 0.8rem 1.5rem;
  background-color: #d86982;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-details:hover {
  background-color: #b3576b;
}

.services-final h2 {
  font-size: 2rem;
  color: #d86982;
  font-family: "Raleway", sans-serif;
}

.services-final p {
  color: #4a4a4a;
  font-size: 1.45rem;
  max-width: 70%;
  line-height: 1.6;
  padding: 0 2rem;
}

.services-final {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  text-align: center;
  background-color: #f7f7f7;
  width: 100%;
}

.link {
  position: relative;
  color: #d86982;
  text-decoration: none;
}

.link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #d86982;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.link:hover::after {
  width: 100%;
}

/* Footer */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d86982;
  color: white;
  font-size: 1.3rem;
  height: 8vh;
}

/* Responsive */

/* Moviles */

@media (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
  }

  /* Header */

  #logo {
    width: 90px;
    padding-left: 0.7rem;
  }

  header nav ul {
    gap: 1rem;
    padding: 0;
    margin: 0;
  }

  header nav ul li a {
    font-size: 12px;
    padding: 0;
  }

  header nav ul li a:hover {
    letter-spacing: 0px;
  }

  header nav ul li a::before {
    width: 0;
    height: 0;
    background-color: none;
  }

  header .social-icons img {
    width: 13px;
    margin: 0px 7px;
  }

  .social-icons {
    padding-right: 0rem;
  }

  /* Intro */

  .intro {
    padding: 1.5rem;
  }

  .intro h1 {
    padding-top: 0.5rem;
    font-size: 1.2rem;
  }

  .intro h2 {
    font-size: 0.7rem;
  }

  .columna-vert {
    width: 75%;
  }

  #nuria-libro {
    display: none;
  }

  .cta {
    padding: 10px 15px;
    font-size: 0.8rem;
  }

  /* Cards */

  .olcards .icon img {
    width: 30px;
  }

  .olcards .title {
    font-size: 0.75rem;
  }

  .olcards li::before {
    font-size: 0.9rem;
  }

  .olcards {
    --cardsGap: 1rem;
    gap: var(--cardsGap);
    padding-bottom: var(--cardsGap);
    margin-bottom: 0;
  }

  .olcards li .card-content {
    --boxPadding: 0.5em;
    padding: var(--boxPadding) calc(var(--inlinePadding) + var(--arrowClipSize))
      var(--boxPadding) calc(var(--inlinePadding) + var(--labelOffset));
    gap: 0.25em 0.8em;
    width: 280px;
  }

  .services-categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* Services cards */

  .service-card {
    width: 50%;
    padding: 1.2rem;
  }

  .service-title {
    margin-bottom: 1rem;
  }

  .service-summary {
    font-size: 1rem;
    margin: 0rem;
  }

  .service-details {
    padding: 0.7rem;
    font-size: 1rem;
  }

  .service-card img {
    width: 75%;
  }

  .service-card.expanded .service-details {
    max-height: 110px;
  }

  .toggle-details {
    margin-top: 0rem;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    font-size: 0.9rem;
  }

  .services-final h2 {
    font-size: 1.2rem;
  }

  .services-final p {
    font-size: 0.9rem;
    max-width: 70%;
    padding: 0 1rem 1rem;
    margin: 0;
  }

  .services-final {
    padding: 0rem;
  }

  /* Footer */

  footer {
    height: 5vh;
    font-size: 0.8rem;
  }
}

/* Tablets - Portatil */

@media (min-width: 601px) and (max-width: 799px) {

  /* Header */

  header {
    height: 10vh;
  }

  #logo {
    width: 110px;
  }

  header nav ul {
    gap: 1.7rem;
    margin: 0rem;
    padding: 0;
  }

  header nav ul li a {
    font-size: 11px;
    padding: 0 0 5px 0;
  }

  header .social-icons img {
    width: 14px;
    margin: 0px 10px;
  }

  .social-icons {
    padding-right: 1.3rem;
  }

  /* Intro */

  .intro {
    padding: 2rem 0rem;
  }

  .intro h1 {
    padding-top: 1rem;
    font-size: 1.5rem;
  }

  .intro h2 {
    font-size: 0.8rem;
  }

  .intro h3 {
    font-size: 1.2rem;
  }

  .cta {
    font-size: 1rem;
    padding: 12px 14px;
  }

  /* Cards */

  .olcards {
    margin-bottom: 0rem;
  }

  .olcards .icon img {
    width: 35px;
  }

  .olcards .title {
    font-size: 0.75rem;
  }

  .olcards li::before {
    font-size: 1em;
  }

  .olcards {
    --cardsGap: 1rem;
    gap: var(--cardsGap);
    padding-bottom: var(--cardsGap);
  }

  .olcards li .card-content {
    --boxPadding: 0.5em;
    padding: var(--boxPadding) calc(var(--inlinePadding) + var(--arrowClipSize))
      var(--boxPadding) calc(var(--inlinePadding) + var(--labelOffset));
    gap: 0.25em 0.8em;
    width: 280px;
  }

  /* Services */

  .services-categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* Services cards */

  .service-card {
    width: 50%;
    padding: 1.2rem;
  }

  .service-title {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  .service-summary {
    font-size: 1.1rem;
    margin: 0rem;
  }

  .service-details {
    padding: 0.9rem;
    font-size: 1rem;
  }

  .service-card img {
    width: 75%;
  }

  .service-card.expanded .service-details {
    max-height: 110px;
  }

  .toggle-details {
    margin-top: 0rem;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    font-size: 0.9rem;
  }

  .services-final h2 {
    font-size: 1.2rem;
  }

  .services-final p {
    font-size: 0.9rem;
    max-width: 70%;
    padding: 0 1rem 1rem;
    margin: 0;
  }

  .services-final {
    padding: 0rem;
  }

  /* Footer */

  footer {
    height: 7vh;
    font-size: 0.9rem;
  }
}

/* Tablet - Laptop */

@media (min-width: 800px) and (max-width: 1024px) {
   /* Header */
    
  header {
    height: 13vh;
  }

   #logo {
    width: 140px;
  }

  header nav ul {
    gap: 2.5rem;
    padding: 0;
    margin: 0.5rem;
  }

  header nav ul li a {
    font-size: 15px;
    padding: 0 0 6px 0;
  }

  header .social-icons img {
    width: 20px;
    margin: 0 15px;
  }

  .social-icons {
    padding-right: 1.25rem;
  }


  /* Intro */

  .intro {
    padding: 2rem 0;
  }

  .intro h1 {
    padding-top: 1rem;
    font-size: 1.5rem;
  }

  .intro h2 {
    font-size: 0.9rem;
  }

  .intro h3 {
    font-size: 1.6rem;
  }

  /* Cards */

  .olcards {
    --cardsGap: 1.2rem;
    gap: var(--cardsGap);
    padding-bottom: var(--cardsGap);
    margin-bottom: 0;
  }

  .olcards li::before {
    font-size: 1.5em;
  }

  .olcards li .card-content {
    --boxPadding: 0.5em;
    padding: var(--boxPadding) calc(var(--inlinePadding) + var(--arrowClipSize))
      var(--boxPadding) calc(var(--inlinePadding) + var(--labelOffset));
    gap: 0.25em 0.8em;
    width: 425px;
    font-size: 1.1rem;
  }

  .card {
    padding: 6px 12px;
    width: 150px;
    height: 175px;
    margin: 1rem;
  }

  .card p {
    font-size: 0.9rem;
    line-height: 1.4;
  }

  .card-title {
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .card-img {
    width: 40px;
  }

  /* Services */

  .services-categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* Services cards */

  .service-card {
    width: 50%;
    padding: 1.2rem;
  }

  .service-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .service-summary {
    font-size: 1.2rem;
    margin: 0rem;
  }

  .service-details {
    padding: 0.9rem;
    font-size: 1.1rem;
  }

  .service-card img {
    width: 75%;
  }

  .service-card.expanded .service-details {
    max-height: 110px;
  }

  .toggle-details {
    margin-top: 0rem;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    font-size: 1rem;
  }

  .services-final h2 {
    font-size: 1.5rem;
  }

  .services-final p {
    font-size: 1.1rem;
    max-width: 70%;
    padding: 0 1rem 1rem;
    margin: 0;
  }

  .services-final {
    padding: 1rem 0;
  }

  /* Footer */

  footer {
    font-size: 1rem;
  }
}

/* Desktop */

@media (min-width: 1025px) and (max-width: 1199px) {
  /* Header */

  #logo {
    width: 160px;
  }

  header nav ul {
    gap: 5rem;
    padding: 0;
    margin: 0.5rem;
  }

  header nav ul li a {
    font-size: 18px;
    padding: 0 0 6px 0;
  }

  header .social-icons img {
    width: 22px;
    margin: 0px 15px;
  }

  .social-icons {
    padding-right: 1rem;
  }

  /* Intro */

  .intro h1 {
    padding-top: 1rem;
    font-size: 1.8rem;
  }

  .intro h2 {
    font-size: 1.1rem;
    max-width: 550px;
  }

  /* Cards */

  .olcards {
    --cardsGap: 1.2rem;
    gap: var(--cardsGap);
    padding-bottom: var(--cardsGap);
  }

  .olcards li::before {
    font-size: 1.6em;
  }

  .olcards li .card-content {
    --boxPadding: 0.5em;
    padding: var(--boxPadding) calc(var(--inlinePadding) + var(--arrowClipSize))
      var(--boxPadding) calc(var(--inlinePadding) + var(--labelOffset));
    gap: 0.25em 0.8em;
    width: 475px;
  }

  .card {
    padding: 6px 12px;
    width: 220px;
    height: 175px;
    margin: 1rem;
  }

  .card p {
    font-size: 1rem;
    line-height: 1.4;
  }

  .card-title {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }

  .card-img {
    width: 45px;
  }

  /* Services */
  .services-categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 3rem;
    padding: 3rem;
  }

  .service-card {
    padding: 1.2rem;
  }

  .service-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .service-summary {
    font-size: 1.2rem;
    margin: 0rem;
  }

  .service-details {
    padding: 0.9rem;
    font-size: 1.1rem;
  }

  .service-card img {
    width: 75%;
  }

  .service-card.expanded .service-details {
    max-height: 200px;
  }

  .toggle-details {
    margin-top: 0rem;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    font-size: 1.1rem;
  }

  .services-final h2 {
    font-size: 1.6rem;
  }

  .services-final p {
    font-size: 1.2rem;
    max-width: 70%;
    padding: 0 1rem 1rem;
    margin: 0;
  }

  .services-final {
    padding: 1rem;
  }

  /* Footer */

  footer {
    font-size: 1.2rem;
  }
}

@media (min-width: 1200px) and (max-width: 1350px) {
  /* Header */

  #logo {
    width: 170px;
  }

  header nav ul {
    gap: 5rem;
    padding: 0;
    margin: 0.5rem;
  }

  header nav ul li a {
    font-size: 19px;
    padding: 6px;
  }

  header .social-icons img {
    width: 24px;
  }


  /* Intro */

  .intro h1 {
    font-size: 2.2rem;
  }

  .intro h2 {
    font-size: 1.4rem;
  }

  
  /* Services */
  .services-categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
  }

  .service-card {
    padding: 1.2rem;
  }

  .service-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .service-summary {
    font-size: 1.2rem;
    margin: 0rem;
  }

  .service-details {
    padding: 0.9rem;
    font-size: 1.1rem;
  }

  .service-card img {
    width: 75%;
  }

  .service-card.expanded .service-details {
    max-height: 200px;
  }

  .toggle-details {
    margin-top: 0rem;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    font-size: 1.1rem;
  }

  .services-final h2 {
    font-size: 1.8rem;
  }

  .services-final p {
    font-size: 1.3rem;
    max-width: 70%;
    padding: 0 1rem 1rem;
    margin: 0;
  }

  .services-final {
    padding: 2rem 0;
  }
}

@media (max-width: 768px) {
  .cards-container {
    flex-direction: column;
    gap: 15px;
  }
}
